.title {
    font-weight: 400;
    font-size: 200px;
    font-family: Verdana, Geneva, sans-serif;
    margin: 60px 10px;
}
.navBar {
    height: 55px;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
